Warning: The lock file is not up to date with the latest changes in pyproject.toml. You may be getting outdated dependencies. Run update to update them.
asgiref==3.5.0; python_version >= "3.7"
astroid==2.9.3; python_full_version >= "3.6.2"
attrs==21.4.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
blis==0.7.6; python_version >= "3.6"
catalogue==2.0.6; python_version >= "3.6"
certifi==2021.10.8; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
cfgv==3.3.1; python_full_version >= "3.6.1"
charset-normalizer==2.0.12; python_full_version >= "3.6.0" and python_version >= "3.6"
click==8.0.3; python_version >= "3.6"
colorama==0.4.4; sys_platform == "win32" and python_full_version >= "3.6.2" and (python_version >= "3.6" and python_full_version < "3.0.0" and platform_system == "Windows" or python_full_version >= "3.5.0" and python_version >= "3.6" and platform_system == "Windows")
coreapi==2.3.3; python_version >= "3.6"
coreschema==0.0.4; python_version >= "3.6"
cymem==2.0.6; python_version >= "3.6"
distlib==0.3.4; python_full_version >= "3.6.1" and python_version >= "3.6"
dj-database-url==0.5.0
django-cors-headers==3.11.0; python_version >= "3.7"
django-heroku==0.3.1
django==3.2.12; python_version >= "3.6"
djangorestframework==3.13.1; python_version >= "3.6"
drf-yasg==1.20.0; python_version >= "3.6"
filelock==3.6.0; python_full_version >= "3.6.1" and python_version >= "3.7"
gunicorn==20.1.0; python_version >= "3.5"
identify==2.4.10; python_version >= "3.7" and python_full_version >= "3.6.1"
idna==3.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
inflection==0.5.1; python_version >= "3.6"
isort==5.10.1; python_full_version >= "3.6.1" and python_version < "4.0"
itypes==1.2.0; python_version >= "3.6"
jinja2==3.0.3; python_version >= "3.6"
jsonlines==3.0.0; python_version >= "3.6"
langcodes==3.3.0; python_version >= "3.6"
lazy-object-proxy==1.7.1; python_version >= "3.6" and python_full_version >= "3.6.2"
markupsafe==2.1.0; python_version >= "3.7"
mccabe==0.6.1; python_full_version >= "3.6.2"
murmurhash==1.0.6; python_version >= "3.6"
nodeenv==1.6.0; python_full_version >= "3.6.1"
numpy==1.22.2; python_version >= "3.8"
packaging==21.3; python_version >= "3.6"
pathy==0.6.1; python_version >= "3.6"
pipenv==2021.11.23; python_version >= "3.6"
platformdirs==2.5.0; python_version >= "3.7" and python_full_version >= "3.6.2"
pre-commit==2.17.0; python_full_version >= "3.6.1"
preshed==3.0.6; python_version >= "3.6"
psycopg2-binary==2.9.3; python_version >= "3.6"
psycopg2==2.9.3; python_version >= "3.6"
pydantic==1.8.2; python_full_version >= "3.6.1" and python_version >= "3.6"
pyjwt==1.7.1
pylint==2.12.1; python_full_version >= "3.6.2"
pyparsing==3.0.7; python_version >= "3.6"
python-dotenv==0.19.2; python_version >= "3.5"
pytz==2021.3; python_version >= "3.7"
pyyaml==6.0; python_version >= "3.6" and python_full_version >= "3.6.1"
requests==2.27.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
ruamel.yaml.clib==0.2.6; platform_python_implementation == "CPython" and python_version < "3.11" and python_version >= "3.6"
ruamel.yaml==0.17.21; python_version >= "3.6"
six==1.16.0; python_full_version >= "3.6.1" and python_version >= "3.6"
smart-open==5.2.1; python_version >= "3.6" and python_version < "4.0"
spacy-legacy==3.0.8; python_version >= "3.6"
spacy-loggers==1.0.1; python_version >= "3.6"
spacy==3.2.2; python_version >= "3.6"
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.2.0/en_core_web_md-3.2.0.tar.gz#egg=en_core_web_md
sqlparse==0.4.2; python_version >= "3.7"
srsly==2.4.2; python_version >= "3.6"
thinc==8.0.13; python_version >= "3.6"
toml==0.10.2; python_full_version >= "3.6.2"
tqdm==4.62.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
twilio==6.63.2
typer==0.4.0; python_version >= "3.6"
typing-extensions==4.1.1; python_version < "3.10" and python_full_version >= "3.6.2" and python_version >= "3.6"
uritemplate==4.1.1; python_version >= "3.6"
urllib3==1.26.8; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.6"
virtualenv-clone==0.5.7; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
virtualenv==20.13.1; python_full_version >= "3.6.1" and python_version >= "3.6"
wasabi==0.9.0; python_version >= "3.6"
whitenoise==5.3.0; python_version >= "3.5" and python_version < "4"
wrapt==1.13.3; python_full_version >= "3.6.2"
